/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Columns

@for $i from 1 through 12 {
    .columns-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
    }

    // .cols-#{$i} {
    //  columns: #{$i};
    // }
}

@media (max-width: 768px) {
    @for $i from 1 through 12 {
        .columns-tablet-#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

@media (max-width: 576px) {
    @for $i from 1 through 12 {
        .columns-mobile-#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}
.icbCards.columns-3.columns-tablet-2.columns-mobile-1.vertical {
    margin-top: 40px;
}
.wp-block-icb-cards {
    * {
        box-sizing: border-box;
    }

    .icbCards {
        margin-top: 25px;
        display: grid;
        // justify-content: space-around;
        box-sizing: border-box;
        gap: 20px;

        .first4Theme {
            min-width: auto;
            max-width: initial;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;

            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

            img {
                object-fit: cover;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
            }

            .content {
                display: flex;
                flex-direction: column;
                flex: 1;
                

                h2 {
                    margin-top: 0px;
                    margin-bottom: 4px;
                    overflow-wrap: anywhere;
                }

                p {
                    overflow-wrap: anywhere;
                    margin-bottom: 7px;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    border: none;
                    // border-radius: 8px;
                }

                .btnWrapper {
                    margin-top: auto;
                    button {
                        overflow-wrap: anywhere;
                    }
                }
            }
        }

        &.horizontal {
            .card {
                flex-direction: row;

                img {
                    max-width: 50%;
                    min-height: 100%;
                }
            }
        }
        .theme5-cards {
            min-height: 495px;
            
        }
        .theme5 {
            position: relative;
            margin-top: 70px;
            width: 100%;
            height: 220px;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
            transition: 0.5s;
        }
        .theme5:hover {
            height: 450px;
        }

        .imgBox {
            position: absolute;
            left: 50%;
            top: -50px;
            transform: translateX(-50%);
            width: 150px;
            height: 150px;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
            overflow: hidden;
            transition: 0.5s;
            z-index: 1;
        }
        .theme5:hover .imgBox {
            width: 250px;
            height: 250px;
        }
        .imgBox img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .theme5 .content {
            position: absolute;
            width: 100%;
            height: 105%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
        }

        .theme5 .content .details {
            padding: 0 0 40px 0;
            text-align: center;
            width: 100%;
            transition: 0.5s;
            transform: translateY(100px);
        }
        .theme5:hover .content .details {
            transform: translateY(0px);
        }
        // .theme5 .content .details h2 {
        //     font-size: 1.25em;
        //     font-weight: 600;
        //     color: #d81d1d;
        //     line-height: 1.2em;
        //     padding-bottom: 35px;
        // }

        .theme5 .content .details h2 p {
            font-size: 0.75em;
            font-weight: 500;
            opacity: 0.5;
        }

        .theme5 .content .details .actionBtn {
            display: flex;
            // gap: 20px;
            justify-content: space-around;
        }
        .theme5 .content .details .actionBtn button {
            padding: 10px 30px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1em;
            font-weight: 500;
            // background: #ff5acd;
            color: #fff;
            cursor: pointer;
        }
    }
}
